ZABBIX_URL=https://172.16.60.41
ZABBIX_USERNAME=Admin
ZABBIX_PASSWORD=
ZABBIX_INSECURE=1
DEPLOY_SSH_HOST=172.16.60.41
DEPLOY_SSH_USER=root
DEPLOY_SSH_PASSWORD=
DEPLOY_SSH_STRICT_HOSTKEY=no
DEPLOY_SSH_KNOWN_HOSTS_FILE=/dev/null
DEPLOY_TARGET_DIR=/usr/share/zabbix/modules/switchpanel
DEPLOY_TARGET_OWNER=zabbix
DEPLOY_TARGET_GROUP=zabbix
DEPLOY_USE_SUDO=0
